<h1>Iniciar sesión</h1>
<hr>
<br>

<div class="row">
  <div class="text-center col-md-4 offset-md-4">
    <%= form_for(:session, url: login_path, :html => {class: 'login-box'}) do |f| %>
      <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="icon-app" width="125" height="125">
      <%= f.label :email, class: 'sr-only' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true, autofocus: true %>
      
      <%= f.label :password, class: 'sr-only'  %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña', required: true %>
      <br>
      
      <%= f.submit "Iniciar sesión", class: "btn btn-lg btn-info btn-block" %>
    <% end %>
  </div>
  <br>
</div>
