<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |varUser, index| %>
        <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= varUser.name %></td>
            <td><%= varUser.surname %></td>
            <td><%= varUser.email %></td>
            <td>
                <dt><%= link_to 'Ver', user_path(varUser.id) %></dt>
                <dt><%= link_to 'Editar', edit_user_path(varUser) %></dt>
                <dt>
                    <% if current_user.id != varUser.id %>
                        <%= link_to 'Eliminar', varUser, method: :delete, data: { confirm: '¿Estás seguro?'} %>
                    <% end %>
                </dt>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
