<% @users.each do |varUser| %>
    <div class="row">
        <div class="col">
            <a href="../users/<%= varUser.id %>"> Ver </a>
        </div>
        <div class="col">
            <p> <%= varUser.name + " " + varUser.surname %> </p>
        </div>
        <div class="col">
            <p> <%= varUser.identification %> </p>
        </div>
        <div class="col">
            <p> <%= varUser.avatar %> </p>
        </div>
        <div class="col">
            <p> <%= varUser.created_at %> </p>
        </div>
        <div class="col">
            <p> <%= varUser.updated_at %> </p>
        </div>
        <div class="col">
            <%= link_to 'Editar', edit_user_path(varUser) %>
        </div>
        <div class="col">
            <% if current_user.id != varUser.id %>
                <%= link_to 'Eliminar', varUser, method: :delete, data: { confirm: '¿Estás seguro?'} %>
            <% end %>
        </div>
    </div>
    <hr>
<% end %>